.breadcrumbs {
    padding: 0;
    display: flex;
    flex-flow: wrap;

    @include responsive(desktop) {
        margin: -40px 0 40px;
    }

    li {
        list-style: none;
        color: $gray-breadcrumbs;
        position: relative;
        padding: 0 32px 0 0;
        margin-bottom: 0;

        @include responsive(mobile) {
            margin-left: 4px;
        }

        &:not(:last-child) {
            &:after {
                content: '/';
                position: absolute;
                right: 12px;
            }
        }

        &:before {
            content: none;
        }
    }

    a {
        color: $gray-breadcrumbs;
    }
}
