.button {
    background-color: $pink-default;
    border-radius: 40px;
    color: $white;
    border: 0;
    font-size: 16px;
    line-height: 1.2225;
    padding: 12px 32px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    display: inline-block;

    @include responsive(desktop) {
        font-size: 18px;
    }

    &--light {
        background-color: $white;
        border: 2px solid $pink-default;
        color: $pink-default;
        transition: all 0.5s;

        &:hover {
            background-color: $pink-default;
            color: $white;
        }
    }

    &--lg {
        font-size: 20px;
        line-height: 1.4;
        font-weight: 500;
        padding: 20px 32px;

        @include responsive(mobile) {
            font-size: 18px;
            padding: 16px 24px;
        }
    }
}
