.doctor-sm {
    display: flex;

    @include responsive(device) {
        flex-flow: column;
    }

    &__image {
        @include responsive(mobile) {
            min-width: 272px;
            width: 272px;
        }

        @include responsive(portrait) {
            width: 100%;
        }

        @include responsive(desktop) {
            min-width: 280px;
            width: 280px;
        }

        img {
            border-radius: 40px;
            max-width: 100%;
            height: auto;
            display: block;
        }
    }

    &__info {
        display: flex;
        flex-flow: column;
        align-items: flex-start;

        @include responsive(device) {
            padding-top: 24px;
        }

        @include responsive(portrait) {
            height: 100%;
            padding-right: 24px;
        }

        @include responsive(desktop) {
            padding: 0 24px 4px 24px;
        }

        .button {
            margin-top: auto;

            &:hover {
                text-decoration: none;
            }
        }

        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__info-content {
        margin-bottom: 24px;
    }

    &__info-descr {
        p {
            font-size: 15px;
            margin-bottom: 4px;

            @include responsive(desktop) {
                font-size: 16px;
                margin-bottom: 8px;
            }
        }
    }

    &__tags {
        margin-top: 8px;
    }
}
