.tabs-header {
    display: flex;
    margin-bottom: 40px;
    border-bottom: 1px solid $tags;

    @include responsive(mobile) {
        overflow: scroll;
    }

    @include responsive(portraitdesktop) {
        display: inline-flex;
    }
}

.tabs-header-item {
    padding: 12px 20px;
    cursor: pointer;
    color: $tags;
    border-radius: 20px 20px 0 0;
    border: 1px solid $tags;
    border-bottom: 0;
    transition: all 0.5s;

    &:hover {
        color: $white;
        background: $tags;
    }

    &:not(:last-child) {
        margin-right: 2px;
    }
}

.tabs-header-item.active {
    background-color: $tags;
    color: $white;
    cursor: default;
}

.tabs-content-item {
    display: none;
}

.tabs-content-item.active {
    display: flex;
    flex-flow: column;
}
