.tag {
    border-radius: 0 16px;
    border: 1px solid;
    padding: 4px 12px 5px;
    @include fontSize(1.4);
    display: inline-block;

    &:not(:first-child) {
        margin-left: 8px;
    }

    &--adult {
        border-color: $blue-default;
        color: $blue-default;
    }

    &--children {
        border-color: $mint-default;
        color: $mint-default;
    }
}
