ul.filter.hidden
    li.filter-item.active
        a(href="#") Все&nbsp;услуги
    li.filter-item
        a(href="#") Взрослые
    li.filter-item
        a(href="#") Детские
    li.filter-item
        a(href="#")
            nobr Диагностика (обследования)
