.contacts {
    margin-bottom: 64px;

    &__info {
        margin-bottom: 40px;

        @include responsive(portrait) {
            width: 80%;
        }

        @include responsive(landscapedesktop) {
            width: 60%;
        }
    }

    &__map {
        position: relative;

        .map {
            position: relative;
            overflow: hidden
        }

        iframe {
            position: relative;
            border: 0;
            height: 400px;

            @include responsive(desktop) {
                height: 580px;
            }
        }
    }
}

