.doctors {
    &__list {
        display: flex;
        flex-flow: wrap;
        margin: 0 -20px;

        .doctor-sm {
            margin-bottom: 40px;

            @include responsive(portraitdesktop) {
                width: 50%;
                padding: 0 20px;
                box-sizing: border-box;
            }

            .button {
                max-width: 250px;
                box-sizing: border-box;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}
