.main-services {
    margin-bottom: 80px;

    &__links {
        @include responsive(portrait) {
            columns: 2;
            column-gap: 40px;

        }
        @include responsive(desktop) {
            columns: 3;
            column-gap: 40px;
        }


        p {
            @include responsive(desktop) {
                padding-right: 20px;
            }
        }
    }
}


.main-about {

    &__text {
        @include responsive(portraitdesktop) {
            columns: 2;
            gap: 40px;
        }
    }

}

.main-doctors {
    margin-bottom: 80px;

    &__item {
        margin-bottom: 40px;
    }
}
