$dark-default: #171733;
$gray-default: #2F2F33;
$gray-breadcrumbs: #5E5E66;
$gray-time: #F5F5F5;
$gray-disabled: #8D8D99;

$pink-default: #FA1476;
$pink-hover: #FA2D84;

$white: #FFFFFF;

$gray-8: #141414;
$gray-32: #525252;
$gray-98: #FAFAFA;

$blue-default: #3C9ACF;
$mint-default: #3CCFA4;
