extends templates/layout
include templates/_mixins

block menu
	- var currentTitle = "about.html";
	+menu(currentTitle)


block content
	.wrapper
		ul.breadcrumbs
			li
				a(href="index.html") Главная
		.about
			h1 О клинике

			.about__content
				.about__info
					p Слова «профессиональная честь и гордость» для нас крайне важны, т.к., высоко ценя доверие и уважение наших пациентов, мы стремимся к тому, чтобы результаты нашей работы создавали в сознании общества устойчивый положительный образ компании.
					p В каждой мелочи нашей работы, как в каждом осколке зеркала, отражается вся клиника «MyDoc». Поэтому мы не делим работу на главную и неглавную. Всё важно и всё главное. Репутация клиники - это результат взаимодействия всех сотрудников клиники со всеми пациентами. Каждый пациент - VIP. Каждый специалист уникален и является частью целого - клиники «MyDoc».
					p Каждый пациент - личность. Мы осознаем ответственность перед каждым, кто обратился к нам за помощью. Клиника «MyDoc» работает для людей, которые ценят комфорт, поэтому хотят получать качественные медицинские услуги.
					p Основами клиники мы считаем экспертность, ориентированность на результат, своевременность, современные стандарты качества, безопасности и сервисности медицинской помощи, законность и порядочность взаимоотношений с нашими пациентами и партнерами.
					p При возникновении проблем со здоровьем человек вынужден много времени проводить в медицинских учреждениях. Опыт работы нескольких поколений врачей с несколькими поколениями пациентов доказывает, что наиболее эффективным подходом к своему здоровью является разработка совместно с личным врачом превентивных мер: не ждать, когда наступят проблемы, а больше внимания уделять профилактике и предотвращению заболеваний.
					p Это означает, что нашими докторами акцент делается на постоянный контроль здоровья, раннюю диагностику и повышение качества результатов лечения.
					p Достигается это тем, что мы привлекаем лучших специалистов в своей области и интегрируем их в команду, которая каждый раз (при необходимости) индивидуально собирается под каждый конкретный случай для того, чтобы установить диагноз и подобрать самые современные, научно обоснованные решения для каждого случая;
					p что Ваш врач, стремясь к идеальному качеству медицинской услуги и искренне помогая справиться с проблемами, «всегда на связи» и готов осуществить медицинскую консультацию не только в клинике, но и при помощи «телемедицинских услуг».
					p Все сотрудники клиники «MyDoc», оставаясь на вершине Ваших ожиданий, стремятся добавить в обыденность чуточку тепла, света и счастья, сделать жизнь людей радостнее и легче, чувствовать себя более уверенно, идти по жизни успешно.
					p
						strong На нас всегда можно рассчитывать!
				.about__image-sert
					.about__image
						.owl-carousel.js-carousel(data-responsive='{"0":{"items": "1"}}')
							div
								img(src="images/mydocclinic.jpg" alt="")
							div
								img(src="images/mydocclinic.jpg" alt="")
							div
								img(src="images/mydocclinic.jpg" alt="")
					.about__sert
						a(href="docs/sert.pdf" target="_blank")
							img(src="images/pdf.svg" alt="")
							span Выписка из реестра лицензий по состоянию на 28.09.2023
