extends templates/layout
include templates/_mixins

block menu
	- var currentTitle = "checkup.html";
	+menu(currentTitle)

block content
	.wrapper
		ul.breadcrumbs
			li
				a(href="index.html") Главная
			li
				a(href="checkup.html") Чекапы
		.checkup-item
			h1 Крепкий иммунитет
			.checkup-item__info
				.checkup-item__left
					.checkup-item__text
						p В программу входит комплексный скрининг статуса вашего здоровья и персональная оценка врачом-экспертом. В результате консультации Вы получаете индивидуальные рекомендации по приему современных инновационных пептидных биорегуляторов.
						p Пептидные биорегуляторы опосредованно оказывают иммуномодулирующую активность, способствуя улучшению работы иммунной системы и восстановлению резервных возможностей организма. Повысится общая сопротивляемость организма к инфекциям. Как бонус, нормализуется сон и циркадные ритмы. Вам не нужно самостоятельно составлять план обследований и изучать медицинскую информацию. Все нужные консультации и рекомендации по анализам и профилактике заболеваний уже включены в программу. Вы получаете готовое решение.
					.checkup-item__list
						h4 Для чего нужна эта программа?
						ol
							li Повышение сопротивляемости организма к вирусным инфекциям.
							li Повышение работоспособности.
							li Улучшение памяти, внимания и мышления.
							li Нормализация сна и циркадных ритмов.
							li Борьба с синдромом хронической усталости.
				.checkup-item__right
					.checkup-item__img
						img(src="images/checkup-item.jpg" alt="")

					.checkup-item__price
						h5 Стоимость программы
						p.price 8 000 ₽
				.checkup-item__descr
					h3 Состав программы «Крепкий иммунитет»:
					.checkup-item-list
						each item in checkupInfo
							.checkup-item-sm
								h6= item.title
								p= item.doctor
								p= item.priem
