extends templates/layout
include templates/_mixins

block menu
	- var currentTitle = "checkup.html";
	+menu(currentTitle)


block content
	.wrapper
		ul.breadcrumbs
			li
				a(href="index.html") Главная
		.checkup
			h1 Чекапы
			.checkup__text
				p
					strong Чекап&nbsp;
					| (от&nbsp;англ. check&nbsp;up)&nbsp;&mdash; комплексное обследование состояния организма и/или отдельных его систем в&nbsp;максимально короткие сроки. Программа check up&nbsp;включает консультации врача, лабораторную диагностику и&nbsp;инструментальные обследования.
				.checkup__text-item
					h5 Зачем регулярно проходить check up&nbsp;даже если человек хорошо себя чувствует?
					ul
						li Диагностировать заболевание на&nbsp;самой ранней стадии
						li Найти точную причину болезни благодаря многостороннему обследованию
						li Убедиться, что вы&nbsp;или ваши близкие здоровы
						li Получить полную картину состояния организма
				.checkup__text-item
					h5 Кому полезно проходить check&nbsp;up?
					ul
						li Людям, планирующим детей
						li Профессиональным спортсменам и&nbsp;людям, чья работа связана с&nbsp;физическими нагрузками
						li Людям, имеющим наследственные и&nbsp;хронические заболевания
						li Всем здоровым людям один раз в&nbsp;год
						li Тем, что переживает стресс, напряженный период в&nbsp;жизни
				.checkup__text-item
					h5 Преимущества проведения check up&nbsp;в&nbsp;клинике &laquo;My&nbsp;Doc&raquo;
					ul
						li Полная картина здоровья
						li Без очередей в&nbsp;короткие сроки
						li Точная интерпретация результатов опытными специалистами
						li Медицинское оборудование последнего поколения
						li Результаты доступны в&nbsp;личном кабинете, по&nbsp;e-mail
			.checkup__list
				each item in checkList
					.checkup__item
						.checkup-sm
							a(href="checkup-item.html")
								img(src= "images/" + item.img alt= item.title)
							h4
								a(href="checkup-item.html")= item.title
							p= item.descr
							.checkup-sm__footer
								.checkup-sm__price= item.price + " ₽"
								a(href="checkup-item.html" class="button button--light") Выбрать

			include templates/_pagination
