extends templates/layout
include templates/_doctor-sm

block content
	.wrapper
		ul.breadcrumbs
			li
				a(href="index.html") Главная
			li Врачи
		.doctors
			h1 Врачи

			.doctors__list
				+doctorSm("doctor-1.jpg", "Иванова Александра Владимировна", "Гастроэнтеролог, врач высшей категории.", "Медицинский стаж 14 лет.", "Взрослый", "Детский")
				+doctorSm("doctor-2.jpg", "Степанов Олег Михайлович", "Кардиолог, врач высшей категории.", "Медицинский стаж 24 года.", "Взрослый", "")
				+doctorSm("doctor-3.jpg", "Крутолобов Максим Станиславович", "Гастроэнтеролог, врач высшей категории.", "Медицинский стаж 14 лет.", "Взрослый", "Детский")
				+doctorSm("doctor-4.jpg", "Гончаров Иван Павлович", "Гастроэнтеролог, врач высшей категории.", "Медицинский стаж 14 лет.", "Взрослый", "Детский")
				+doctorSm("doctor-5.jpg", "Михайлова Ангелина Викторовна", "Гастроэнтеролог, врач высшей категории.", "Медицинский стаж 14 лет.", "Взрослый", "Детский")
				+doctorSm("doctor-6.jpg", "Краснова Инна Геннадьевна", "Гастроэнтеролог, врач высшей категории.", "Медицинский стаж 14 лет.", "Взрослый", "Детский")
				+doctorSm("doctor-1.jpg", "Иванова Александра Владимировна", "Гастроэнтеролог, врач высшей категории.", "Медицинский стаж 14 лет.", "Взрослый", "Детский")
				+doctorSm("doctor-2.jpg", "Степанов Олег Михайлович", "Кардиолог, врач высшей категории.", "Медицинский стаж 24 года.", "Взрослый", "")
				+doctorSm("doctor-3.jpg", "Крутолобов Максим Станиславович", "Гастроэнтеролог, врач высшей категории.", "Медицинский стаж 14 лет.", "Взрослый", "Детский")
				+doctorSm("doctor-4.jpg", "Гончаров Иван Павлович", "Гастроэнтеролог, врач высшей категории.", "Медицинский стаж 14 лет.", "Взрослый", "Детский")

			include templates/_pagination
