extends templates/layout
include templates/_mixins

block menu
	- var currentTitle = "about.html";
	+menu(currentTitle)


block content
	.wrapper
		ul.breadcrumbs
			li
				a(href="index.html") Главная
		.inbody
			.inbody__heading
				h1 Индивидуальная программа тренировок и питания с помощью аппарата In Body270

			.inbody__top-content
				.inbody__image
					img(src="images/inbody-1.jpg" alt="inbody 270")
				.inbody__text
					p 
						strong Биоимпедансометрия InBody 
						| — это точный и надежный метод определения состава человеческого тела. Этот метод позволяет оценить риски для здоровья, связанные с ожирением, диабетом и другими заболеваниями, а также контролировать эффективность диет.
					p 
						strong Преимущества биоимпедансометрии InBody:
					ul 
						li Безопасность и неинвазивность;
						li Быстрота и простота проведения;
						li Высокая точность и надежность;
						li Возможность оценки различных параметров состава тела;
						li Возможность отслеживания изменений в составе тела с течением времени.
					h4 Кому показано проведение исследования?
					ul 
						li при ожирении,
						li при анорексии, избыточном или недостаточном весе,
						li при контроле массы тела,
						li при саркопеническом ожирении (потеря мышечной массы, вызванная недостатком белка),
						li при патологии печени и почек (гепатиты, цирроз печени, жировой гепатоз),
						li при сахарном диабете и других эндокринных заболеваниях, особенно щитовидной железы,
						li при заболеваниях сердечно-сосудистой системы,
						li при онкологические заболеваниях,
						li при боли в позвоночнике,
						li спортсменам, стремящиеся улучшить своё тело за счёт набора мышечной массы и жиросжигания,
						li людям, которые хотят снизить жировую составляющую.
			.inbody__image-quote 
				.inbody__quote 
					p Исследование состава тела является ключевым инструментом для оценки здоровья и физического состояния человека
				.inbody__image 
					img(src="images/inbody-2.jpg" alt="inbody 270")
			.inbody__content 
				.inbody__content-item-left
					h4 Как проходит процедура?
					p Процедура безболезненная и комфортная, занимает 10-20 минут. Перед началом процедуры вас взвесят, измерят рост, и эти данные будут внесены в программу вместе с информацией о возрасте и поле, что необходимо для расчета результатов компьютером.
				.inbody__content-item-right 
					h4 Подготовка к исследованию включает:
					ul 
						li Воздержание от еды и напитков за 4 часа до анализа.
						li Отсутствие физической активности за 24 часа до анализа.
						li Исключение алкоголя и кофеина за 24 часа до анализа.
						li Ношение легкой, удобной одежды.
				.inbody__content-item-left
					h4 После проведения исследования:
					ul
						li Обсуждение результатов с врачом общей практики , эндокринологом или специалистом по питанию.
						li Внесение необходимых изменений в рацион питания и образ жизни для достижения здоровья.
						li Регулярное повторение анализа для отслеживания прогресса.

			.inbody__footer-content
				.inbody__footer-image 
					img(src="images/inbody-3.jpg" alt="inbody 270")
				.inbody__footer-text 
					h4 Ограничения: 
					ul 
						li Могут быть неточности у лиц с обезвоживанием, сердечной недостаточностью или другими медицинскими состояниями.
						li Могут быть неточности у лиц, принимавших определённые лекарства, такие как диуретики или стероиды.
