extends templates/layout
include templates/_doctor-sm
include templates/_mixins

block menu
	+menu()

block content
	.wrapper
		.main-services
			h2
				a(href="services.html") Медицинские услуги
			.main-services__links
				each item in servicesList
					p
						a(href="service-item.html")= item.item

		.main-doctors
			h2 Врачи клиники
			.main-doctors__info
				p Всего врачей: 39
				.main-doctors__item
					p Информация об образовании врачей:
					ul
						li кандидат медицинских наук - 9
						li доктор медицинских наук - 2
				.main-doctors__item
					p Информация о квалификации врачей:
					ul
						li Врач высшей квалификационной категории - 17
						li Врач первой квалификационной категории - 6


		.main-about
			.main-about__info
				h2 О клинике
				.main-about__text
					p Слова &laquo;профессиональная честь и&nbsp;гордость&raquo; для нас крайне важны, т.к., высоко ценя доверие и&nbsp;уважение наших пациентов, мы&nbsp;стремимся к&nbsp;тому, чтобы результаты нашей работы создавали в&nbsp;сознании общества устойчивый положительный образ компании.
					p В&nbsp;каждой мелочи нашей работы, как в&nbsp;каждом осколке зеркала, отражается вся клиника &laquo;MyDoc&raquo;. Поэтому мы&nbsp;не&nbsp;делим работу на&nbsp;главную и&nbsp;неглавную. Всё важно и&nbsp;всё главное. Репутация клиники&nbsp;&mdash; это результат взаимодействия всех сотрудников клиники со&nbsp;всеми пациентами. Каждый пациент&nbsp;&mdash; VIP. Каждый специалист уникален и&nbsp;является частью целого&nbsp;&mdash; клиники &laquo;MyDoc&raquo;.
					p Каждый пациент&nbsp;&mdash; личность. Мы&nbsp;осознаем ответственность перед каждым, кто обратился к&nbsp;нам за&nbsp;помощью. Клиника &laquo;MyDoc&raquo; работает для людей, которые ценят комфорт, поэтому хотят получать качественные медицинские услуги.
					p Основами клиники мы&nbsp;считаем экспертность, ориентированность на&nbsp;результат, своевременность, современные стандарты качества, безопасности и&nbsp;сервисности медицинской помощи, законность и&nbsp;порядочность взаимоотношений с&nbsp;нашими пациентами и&nbsp;партнерами.
					p При возникновении проблем со&nbsp;здоровьем человек вынужден много времени проводить в&nbsp;медицинских учреждениях. Опыт работы нескольких поколений врачей с&nbsp;несколькими поколениями пациентов доказывает, что наиболее эффективным подходом к&nbsp;своему здоровью является разработка совместно с&nbsp;личным врачом превентивных мер: не&nbsp;ждать, когда наступят проблемы, а&nbsp;больше внимания уделять профилактике и&nbsp;предотвращению заболеваний.
					p Это означает, что нашими докторами акцент делается на&nbsp;постоянный контроль здоровья, раннюю диагностику и&nbsp;повышение качества результатов лечения.
					p Достигается это тем, что мы&nbsp;привлекаем лучших специалистов в&nbsp;своей области и&nbsp;интегрируем их&nbsp;в&nbsp;команду, которая каждый раз (при необходимости) индивидуально собирается под каждый конкретный случай для того, чтобы установить диагноз и&nbsp;подобрать самые современные, научно обоснованные решения для каждого случая;
					p что Ваш врач, стремясь к&nbsp;идеальному качеству медицинской услуги и&nbsp;искренне помогая справиться с&nbsp;проблемами, &laquo;всегда на&nbsp;связи&raquo; и&nbsp;готов осуществить медицинскую консультацию не&nbsp;только в&nbsp;клинике, но&nbsp;и&nbsp;при помощи &laquo;телемедицинских услуг&raquo;.
					p Все сотрудники клиники &laquo;MyDoc&raquo;, оставаясь на&nbsp;вершине Ваших ожиданий, стремятся добавить в&nbsp;обыденность чуточку тепла, света и&nbsp;счастья, сделать жизнь людей радостнее и&nbsp;легче, чувствовать себя более уверенно, идти по&nbsp;жизни успешно.
					p
						strong На&nbsp;нас всегда можно рассчитывать!
