extends templates/layout
include templates/_doctor-sm
include templates/_mixins

block menu
	+menu()

block content
	.main-banner
		.main-banner__content
			.owl-carousel.js-carousel(data-responsive='{"0":{"items": "1"}}')
				div.main-banner__item
					.main-banner__text 
						h2 Как часто нужно посещать гинеколога девочкам? 
						p Гинекологи рекомендуют посетить гинеколога первый раз в течение 1 месяца после рождения ребенка. Второй визит стоит запланировать в 3 года. Третья консультация проходит в возрасте 6-7 лет.
						a(href="" class="button button--light") Записаться на приём
					.main-banner__img 
						img(src="images/banner-1.jpg" alt="")
				div
					| 2
				div
					| 3
				div
					| 4
			.main-banner__link
				a(href="#") Все услуги

	.wrapper
		.main-about
			h2 Клиника My Doc
			.main-about__img 
				.main-about__img-item 
					img(src="../images/about-1.jpg" alt="")
				.main-about__img-item 
					img(src="../images/about-2.jpg" alt="")
				.main-about__img-item 
					img(src="../images/about-3.jpg" alt="")
				.main-about__img-item
					.js-gallery
						a(href="../images/about-1.jpg" rel="gallery")
							span Смотреть все фото
						a(href="../images/about-2.jpg" rel="gallery")
							img(src="../images/about-2.jpg" alt="")
						a(href="../images/about-3.jpg" rel="gallery")
							img(src="../images/about-3.jpg" alt="")
						a(href="../images/about-4.jpg" rel="gallery")
							img(src="../images/about-4.jpg" alt="")
						a(href="../images/about-5.jpg" rel="gallery")
							img(src="../images/about-5.jpg" alt="")

			.main-about__info
				h3 О клинике
				.about-clinic
					.about-clinic__text 
						p My Doc — частный многопрофильный центр, оснащенный современным оборудованием.
						p В клинике My Doc принимают опытные специалисты, врачи первой и высшей категории, а так же доктора и кандидаты медицинских наук. Приемы ведутся по направлениям: нефрология, ревматология, ортопедия, гинекология, офтальмология, хирургия, проктология, онкология, психиатрия и мн.др. Также принимают детские врачи: педиатр, детский уролог и хирург, детский травматолог-ортопед, детский невролог, детский офтальмолог, детский гинеколог, детский ЛОР.
						p В My Doc проводится УЗИ для взрослых и детей, холтеровское мониторирование давления, ЭКГ, КТГ. Есть кабинет взрослого и детского массажа, кабинет вакцинации.
						a(href="about.html" class="button button--light") Подробнее о клинике
					.about-clinic__banners 
						a(href="#").banner-sm.banner-sm--inbody
							.banner-sm__img 
								img(src="../images/banner-inbody.png" alt="In Body 270")
							.banner-sm__text 
								p Подберите индивидуальную программу тренировок и&nbsp;питания с&nbsp;помощью аппарата In&nbsp;Body270
						a(href="dmo.html").banner-sm.banner-sm--dmo
							.banner-sm__text 
								p Добровольное медицинское обслуживание
							.banner-sm__img 
								img(src="../images/banner-dmo.png" alt="Добровольное медицинское обслуживание")

		.main-doctors
			h2 Наши врачи
			.owl-carousel.js-doctor-carousel
				div
					+doctorSm("doctor-1.jpg", "Иванова Александра Владимировна", "Гастроэнтеролог, врач высшей категории.", "Медицинский стаж 14 лет.", "Взрослый", "Детский")
				div
					+doctorSm("doctor-2.jpg", "Степанов Олег Михайлович", "Кардиолог, врач высшей категории.", "Медицинский стаж 24 года.", "Взрослый", "")
				div
					+doctorSm("doctor-1.jpg", "Иванова Александра Владимировна", "Гастроэнтеролог, врач высшей категории.", "Медицинский стаж 14 лет.", "Взрослый", "Детский")
				div
					+doctorSm("doctor-2.jpg", "Степанов Олег Михайлович", "Кардиолог, врач высшей категории.", "Медицинский стаж 24 года.", "Взрослый", "")
