extends templates/layout
include templates/_mixins

block menu
	- var currentTitle = "patient.html";
	+menu(currentTitle)


block content
	.wrapper
		ul.breadcrumbs
			li
				a(href="index.html") Главная
		.kontrol
			h1 Контакты контролирующих организаций

			.kontrol__content
				.kontrol-item
					h5 Территориальный отдел РосПотребНадзора в&nbsp;Петроградском районе:
					p 197198, Санкт-Петербург, <br>
						| Большая Пушкарская ул., 18<br>
						| Телефон: 232-8081
				.kontrol-item
					h5 Комитет по здравоохранению Санкт-Петербурга:
					p 191011, Санкт-Петербург, <br>
						| Центральный район, Малая Садовая ул., 1<br>
						| Телефон: (812) 595-8979,<br>
						| дежурный врач-инспектор: (812) 571-0906<br>
						| Факс: (812) 314-1814<br>
						| Часы приёма: среда с 10.00 до 13.00,<br>
						| кабинет №10 (часы приема граждан по вопросам дополнительного лекарственного обеспечения)<br>
						| e-mail:&nbsp;
						a(href="mailto:kzdrav@gov.spb.ru") kzdrav@gov.spb.ru
				.kontrol-item
					h5 Территориальный фонд обязательного медицинского страхования Санкт-Петербурга:
					p 196084, Санкт-Петербург,<br>
						| Коли Томчака ул., 9, литера А<br>
						| Телефон: (812) 703-7301 — Справочная, (812) 703-7310<br>
						| Факс: (812) 703-7394<br>
						| Часы работы: пн–пт с 09.00 до 17.45, перерыв с 13.00 до 13.30<br>
						| Сайт:&nbsp;
						a(href="www.spboms.ru" target="_blank") www.spboms.ru
				.kontrol-item
					h5 Федеральная служба по надзору в сфере здравоохранения по Санкт-Петербургу и Ленинградской области (Росздравнадзор):
					p 190068, Санкт-Петербург, <br>
						| наб. кан. Грибоедова, д. 88-90<br>
						| Телефон: (812) 314-67-89 — Приемная
