extends templates/layout
include templates/_mixins

block menu
	- var currentTitle = "dmo.html";
	+menu(currentTitle)


block content
	.wrapper
		ul.breadcrumbs
			li
				a(href="index.html") Главная
		.dmo
			h1 Новости

			.dmo__content
				.dmo__item
					h3 Работа клиники в новогодние праздники
					.dmo__info
						p Приближается праздник, и наш коллектив готовится к встрече этого замечательного события. 
						p Хотим напомнить вам о графике работы в праздничные дни.
						p Убедительная просьба ознакомиться с информацией и принять во внимание указанные даты и время работы.
						p Всем желаем приятных праздников!

						p 31 декабря 2023 года — клиника не работает.
						p 1 января 2024 года — клиника на работает.
						p 7 января 2024 года — клиника не работает. 
