extends templates/layout
include templates/_doctor-sm
include templates/_mixins

block menu
	- var currentTitle = "osteopathy.html";
	+menu(currentTitle)


block content
	.wrapper
		ul.breadcrumbs
			li
				a(href="index.html") Главная
		.osteopathy
			h1 Остеопатия

			.osteopathy__content
				.osteopathy__info
					p
						strong Остеопатия как целостная медицинская система, занимается лечением не болезни, а больного.
					p Остеопатия -- направление в медицине, основанное на целостном представлении о человеке и использующее мягкие воздействия рук врача на кости, связки и внутренние органы с целью исправления их положения и  восстановления их функции. Остеопатическое лечение направлено на активацию внутренних защитных сил организма, это придание импульса для самостоятельного восстановления равновесия, нарушенного в результате травмы или болезни.
					p Остеопатия базируется на знании фундаментальных наук: анатомии, физиологии, гистологии, ортопедии, биомеханики.
					p Врач-остеопат получает общее врачебное образование в медицинском институте. В дальнейшем он специализируется по неврологии, ортопедии, мануальной терапии, реабилитологии, ЛФК и, что самое главное, получает специальное образование, учась у практикующих остеопатов в специальных школах.
						strong  Прежде всего врач-остеопат -- это врач, обладающий клиническим мышлением, владеющий современными медицинскими знаниями, но в своей лечебной практике использующий специфические остеопатические методы.
					p Единственным инструментом воздействия на организм являются руки врача. Это лечение с помощью специальных безболезненных остеопатических техник, которых насчитывается свыше 3000.
					p В остеопатии существуют следующие специальные диагностические методы. Благодаря многолетнему опыту руки остеопата способны уловить самые незаметные аномалии расположения костей и связок. Кроме того, существуют специальные сигнальные точки, указывающие на местоположение нарушения. Напряжение той или иной группы мышц может говорить о нарушениях работы внутренних органов.
						strong  После того как диагноз поставлен, он при необходимости подтверждается современными исследованиями - допплерографией, нейросонографией, ультразвуковым исследованием, компьютерной томографией.
					p Остеопатический сеанс включает диагностику, лечение и тестирование. Для диагностики врачу важно все, что он видит в пациенте с первого момента свидания: как он идет, как садится, как держит голову, шаркает ли, сутулится и т.д. В дальнейшем остеопат, как и любой другой доктор, опрашивает, осматривает, пальпирует пациента. При лечении врач использует мягкие активные (структуральные) или пассивные (функциональные) техники. При первых доктор снимает спазмы и ограничение подвижности, используя свои руки и позвоночник в качестве естественного рычага. При вторых - действия врача настолько мягки, настолько следуют естественным двигательным ритмам (например, дыхательному), что внешне кажется, что ничего не происходит. Однако это не так. Удивительно, но мягкие воздействия имеют влияние гораздо более мощное, чем общепринятые Любые состояния, при которых нарушается подвижность или изменяется положение органа, подлежат остеопатическому лечению. Остеопат занимается
						strong патологией позвоночника
						|  (остеохондроз, радикулиты, межреберные невралгии, последствия различных травм, сколиозы, артрозы, плоскостопие) и суставов (в том числе таза).
					p Однако, остеопатия способна помочь при множестве патологий органов головы:
					ul
						li головных болях,
						li повышенном внутричерепном давлении,
						li головокружениях,
						li последствиях травм головы, в том числе родовых,
						li хронических воспалительных заболеваниях: гайморитах, отитах,
						li хронической заложенности носа,
						li головокружениях,
						li тугоухости, шуме в ушах,
						li близорукости, косоглазии, астигматизме, глаукоме,
						li нарушениях прикуса и расположения зубов,
						li логопедических нарушениях.
					p Остеопатия располагает огромными возможностями
						strong  в лечении заболеваний внутренних органов:
					ul
						li легких (хронические воспалительные заболевания, аллергия, астма),
						li сердца (функциональные нарушения- аритмия, гипо- и гипертония),
						li печени и желчного пузыря (опущение, склонность к застойным явлениям и образованию камней),
						li поджелудочной железы (гипергликемия, хронический панкреатит),
						li почек (мочекаменная болезнь),
						li тонкого кишечника (спазмы, дискинезии),
						li толстого кишечника (колит, склонность к поносам и запорам, геморрой),
						li внутренних женских органов (хроническое воспаление, болезненные месячные, миомы, неправильные положения матки, бесплодие),
						li простаты (простатиты),
						li мочевого пузыря и мочевыводящих путей (воспаление, инфекции, энурез).
					p Главный принцип при использовании остеопатических техник - не делать больно и не навредить пациенту. Остеопатия не показана при переломах, опухолях, острых воспалительных заболеваниях позвоночника и суставов.
				.osteopathy__image-doctor
					.osteopathy__image
						img(src="images/osteopathy.jpg" alt="")
					.osteopathy__doctors
						h3 Врачи-остеопаты
						+doctorSm("doctor-1.jpg", "Иванова Александра Владимировна", "Гастроэнтеролог, врач высшей категории.", "Медицинский стаж 14 лет.", "Взрослый", "Детский")
						+doctorSm("doctor-2.jpg", "Степанов Олег Михайлович", "Кардиолог, врач высшей категории.", "Медицинский стаж 24 года.", "Взрослый", "")
						+doctorSm("doctor-3.jpg", "Крутолобов Максим Станиславович", "Гастроэнтеролог, врач высшей категории.", "Медицинский стаж 14 лет.", "Взрослый", "Детский")
