extends templates/layout
include templates/_mixins

block menu
	- var currentTitle = "patient.html";
	+menu(currentTitle)


block content
	.wrapper
		ul.breadcrumbs
			li
				a(href="index.html") Главная
		.patient
			h1 Пациентам

			.patient__content
				.patient__info
					h3 Виды справок, которые оформляются в клинике
					ul
						li Форма 086/у — медицинское заключение о профпригодности, необходимо при зачислении в вуз или для предъявления по месту работы. Чтобы его получить, нужно пройти консультации у 5 специалистов и сделать 3 вида анализов. Срок подготовки — 1-2 дня.
						li Форма 083/4-89 — справка в бассейн. Взрослым нужен осмотр терапевта, женщинам — дополнительно посетить гинеколога. Детям — консультация педиатра, анализы на гельминты и энтеробиоз. Срок выдачи — 2 дня.
						li Форма 026/у — оформляется при приеме ребенка в детсад или школу. Перечень анализов и консультация специалистов зависит от того, куда будет предъявляться справка. Но в любом случае все можно сделать за день, а через 1-2 дня получить медицинское заключение о состоянии здоровья ребенка и оформить справку по установленной форме.
						li Форма 072/у-04 — необходима взрослым и детям для лечения в санатории. Оформляется за 2-3 дня. В перечень исследований входит 2 консультации с врачами и 4 вида анализов. Если вы уже сделали общий анализ крови и мочи, а также рентген органов грудной клетки, процесс подготовки справки ускорится до 1 дня. Для оформления формы 072/у-04 детям нужна прививочная карта.
					.patient__info-ref
						h3 Как происходит выдача справки
						p Позвоните нам и запишитесь на визит в иклинику. Менеджер сообщит вам перечень необходимых консультаций и видов анализов.
						p В назначенный день вы сдаете анализы и посещаете врачей. Некоторые справки можно оформить в тот же день, но большинство документов оформляется за 1-2 дня, не считая дня прохождения обследования. Обязательно учтите это при планировании времени визита.
				.patient__reference
					.patient__ref-dop
						h4 Дополнительные справки
						p
							a(href="") Справка для получения налоговых льгот на лечение
						p
							a(href="") Контролирующие органы
					.patient__ref-download
						h3 Скачать документы
						.patient__ref-list
							a(href="#").ref-download-item
								img(src="images/docx.svg" alt="")
								span Информированное добровольное согласие на формирование листка нетрудоспособности в форме электронного документа и обработку персональных данных
							a(href="#").ref-download-item
								img(src="images/docx.svg" alt="")
								span Согласие на предоставление сведений о состоянии здоровья иным лицам
							a(href="#").ref-download-item
								img(src="images/docx.svg" alt="")
								span Уведомление о последствиях несоблюдения указаний (рекомендаций) медицинской организации
							a(href="#").ref-download-item
								img(src="images/docx.svg" alt="")
								span Правила внутреннего распорядка
