extends templates/layout
include templates/_mixins

block menu
	- var currentTitle = "services.html";
	+menu(currentTitle)

block content
	.wrapper
		ul.breadcrumbs
			li
				a(href="index.html") Главная

		.services
			h2 Медицинские услуги
			.services__category
				include templates/_filter

			.services__list
				each item in servicesList.splice(0,16)
					a(href="service-item.html").services__sm
						h3= item.item
						p= item.info

			include templates/_pagination

